<nav class="feeds-nav dark-mode-1" style="z-index: 2;" [ngClass]="{'dark-1 border-color' : isDarkModeEnabled()}">
  <div class="icons w-50">
    <a routerLink="/home" class="active"><i class="fas fa-home"></i></a>
    <!-- <a href="#"><i class="fas fa-hashtag"></i></a>
    <a href="#"><i class="far fa-bell"></i></a>
    <a href="#"><i class="far fa-envelope"></i></a> -->
  </div>
  <div class="search-bar">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Search Twitter" class="search-bar-input dark-mode-2 light-text border" [ngClass]="{'light dark-2  border-color' : isDarkModeEnabled()}"
      (keydown.enter)="search($event)" />
  </div>
  <div class="user" (click)="Display()">
    <div class="user-img-wrapper">
      <img *ngIf="currentUser != undefined" [src]="createResourcesPath('Resources/Images/' + currentUser.userPic)" />
    </div>
    <a *ngIf="currentUser != undefined" class="user-link light-text fw-bold" [ngClass]="{'light' : isDarkModeEnabled()}">{{currentUser.firstName}} {{currentUser.lastName}}</a>
    <i class="fas fa-chevron-down"></i>
  </div>
</nav>

<!-- sidebar -->
<div class="sidebar-wrapper" style="z-index: 3;">
  <div class="sidebar dark-mode-1" [ngClass]="{'dark-1 border-color' : isDarkModeEnabled()}">
    <div class="sidebar-header">
      <h2 class="light-text" [ngClass]="{'light' : isDarkModeEnabled()}">Account info</h2>
      <i class="fas fa-times" (click)="Dismiss()"></i>
    </div>
    <div class="d-flex">
      <div class="sidebar-user-img mr-3">
        <img *ngIf="currentUser != undefined" [src]="createResourcesPath('Resources/Images/' + currentUser.userPic)" />
      </div>
      <span class="mt-2 d-inline-block sidebar-user-info light-text" [ngClass]="{'light' : isDarkModeEnabled()}">
        <h3 *ngIf="currentUser != undefined" class="font-weight-bold">{{currentUser.firstName}} {{currentUser.lastName}}</h3>
        <p *ngIf="currentUser != undefined">@{{currentUser.userName}}</p>
      </span>
      <span class="sidebar-user-plus-icon">+</span>
    </div>

    <div class="following light-text" [ngClass]="{'light' : isDarkModeEnabled()}">
      <p class="following-paragraph"><span>{{currentUser?.followingCount}}</span> Following</p>
      <p class="following-paragraph"><span>{{currentUser?.followersCount}}</span> Followers</p>
    </div>
    <div class="sidebar-list-1">
      <ul>
        <li>
          <a routerLink="/profile/{{currentUser?.userName}}" (click)="Dismiss()"> <i class="fas fa-user"></i> Profile </a>
        </li>
        <!-- <li>
          <a href="#"> <i class="far fa-list-alt"></i> Lists </a>
        </li>
        <li>
          <a href="#"> <i class="far fa-bookmark"></i> Bookmarks </a>
        </li> -->
      </ul>
    </div>
    <div class="sidebar-list-2">
      <ul>
        <li><a routerLink="/setting">Settings and Privacy</a></li>
        <!-- <li><a href="#">Help Center</a></li> -->
        <li><a (click)="logout()" routerLink="">Log Out</a></li>
      </ul>
    </div>

    <!-- dark mode -->
    <div class="dark-mode">
      <p>Dark Mode</p>
      <div class="toggle" (click)="supportDarkMode()">
        <div class="circle"></div>
      </div>
    </div>
    <!-- end of dark mode -->
  </div>
</div>
<!-- end of sidebar -->