/* footer */
.main-page-footer {
	background-color: #f5f4f4;
	padding: 1.5rem;
	border-top: 0.1rem solid #ddd;
}

.main-page-footer ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

.main-page-footer a {
	font-size: 1.6rem;
	margin: 0 2rem;
	text-decoration: none;
	color: #444;
	font-weight: 300;
}
/* end of footer */
/* responsive */
@media (max-width: 1300px) {
	/* main page */
	.main-page-footer ul {
		flex-wrap: wrap;
	}

	.main-page-footer li {
		margin-bottom: 1rem;
	}
}
/* end of responsive */